{{>nav}}

<main class="dashboard-main">

<!-- ======================== -->
<!-- ===== Home Section ===== -->
<!-- ======================== -->

  <div id="home">

    <!-- Settings Icon -->
    <div class="row user-settings-icon blue-text">
      <div class="col s12">
        <div>
          <a href="#settings" class="js-settings"><i class="material-icons right hovered">settings</i></a>
        </div>
      </div>
    </div>
    <!--  Settings -->
    <div class="side-pull-out full-height white-text z-depth-2 red lighten-1 absolute-right" id="settings">
      <a href="#settings" class="js-push-back"><img class="pull-out-back-icon"  src="/assets/images/arrow-right.svg" /></a>
      <div class="row">
        <div class="col s12 settings-menu-options">
          <div class="center dont-break-on-overflow">
            <ul>
              <li><a href="#edit-info" class="js-settings">Edit Public Info</a></li>
              <li><a href="#" class="js-settings">Manage Associations/Boards</a></li>
              <li><a href="#leave-feedback" class="js-settings">Leave Feedback</a></li>
              <li><a href="#about-us" class="js-settings">About REAL Exchange</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!--  Settings Edit Info -->
    <div class="side-pull-out full-height blue darken-4 white-text absolute-right" id="edit-info">
      <a href="#edit-info" class="js-push-back"><img class="pull-out-back-icon" src="/assets/images/arrow-right.svg" /></a>
      <div class="row">
        <form class="col s12">
        <div class="settings-menu-options dont-break-on-overflow">
          <div class="row">
            <div class="input-field col s12 m8 offset-m2">
              <textarea id="settings-bio" class="materialize-textarea">{{user.bio}}</textarea>
              <label for="textarea1">Bio</label>
            </div>
            <div class="input-field col s12 m8 offset-m2">
              <input value="{{user.phoneNumber}}" id="settings-phone-number" type="tel" class="validate">
              <label for="telephone">Phone Number</label>
            </div>
            <div class="input-field col s12 m8 offset-m2">
              <input value="{{user.email}}" id="settings-email" type="email" class="validate">
              <label for="email">Email</label>
            </div>
            <div class="input-field col s12 m8 offset-m2">
              <input value="{{user.website}}" id="settings-website" type="text" class="validate">
              <label for="website">Website</label>
            </div>
          </div>
          <div class="col s12 center">
            <button class="btn waves-effect waves-light amber" type="submit" name="action">Submit
              <i class="material-icons right">send</i>
            </button>
          </div>
        </div>
        </form>
      </div>
    </div>
    <!--  Settings Leave Feedback -->
    <div class="side-pull-out full-height blue darken-4 white-text absolute-right" id="leave-feedback">
      <a href="#leave-feedback" class="js-push-back"><img class="pull-out-back-icon"  src="/assets/images/arrow-right.svg" /></a>
      <div class="row">
        <form class="col s12">
          <div class="settings-menu-options dont-break-on-overflow">
            <div class="row">
              <div class="input-field col s12 m8 offset-m2">
                <textarea id="settings-bio" class="materialize-textarea" placeholder="Tell us what you think!"></textarea>
                <label for="Feedback">We value your feedback</label>
              </div>
              <div class="col s12 m8 offset-m2">
                <button class="btn waves-effect waves-light amber" type="submit" name="action">Submit
                  <i class="material-icons right">send</i>
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <!--  Settings About Us -->
    <div class="side-pull-out full-height blue darken-4 white-text absolute-right" id="about-us">
      <a href="#about-us" class="js-push-back"><img class="pull-out-back-icon"  src="/assets/images/arrow-right.svg" /></a>
      <div class="row">
        <div class="col s12">
          <div class="settings-menu-options dont-break-on-overflow">
            <div class="row">
              <div class="input-field col s12 m8 offset-m2">
                <h5 class="center">REAL Exchange</h5>
                <blockquote class="left-border-color-amber">The mission of REAL Exchange is to bring REALTORS&reg; closer together and to help them to grow their business and expand their network.</blockquote>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- User Page -->
    <div class="row" id="user-page">
      <div class="col s12 l6">
        <h4 class="center-align greeting">Hello, {{user.firstName}} {{user.lastName}}</h4>
        <div class="col s4 offset-s4 m2 offset-m5 l4 offset-l4">
          <img src="https://lorempixel.com/400/400/" class="circle responsive-img" />
        </div>
        <div class="col s12 center-align">
          <h6 class="flow-text hovered"><a>Change Picture</a></h6>
        </div>
      </div>

      <div class="col s12 l6 left-border">
        <div class="center-align user-info-displayed">
          <p class="flow-text">{{user.bio}}</p>
          <p class="flow-text">{{user.phoneNumber}}</p>
          <p class="flow-text">{{user.email}}</p>
          <p class="flow-text word-break">{{user.website}}</p>
        </div>
      </div>
    </div>
  </div>
  <!-- ============================ -->
  <!-- ===== Contacts Section ===== -->
  <!-- ============================ -->
  <div id="contacts" class="col s12">Contacts</div>
  <!-- ============================ -->
  <!-- ===== Messages Section ===== -->
  <!-- ============================ -->
  <div id="messages" class="col s12">Messages</div>
  <!-- ========================= -->
  <!-- ===== Posts Section ===== -->
  <!-- ========================= -->
  <div id="posts">
    <div class="row">
      <div class="col s12" id="parent-div">
        <ul class="tabs transparent">
          <li class="tab col s3"><a id="my-posts-tab" href="#my-posts">My Posts</a></li>
          <li class="tab col s3" id="js-get-all-posts"><a href="#all-posts">All Posts</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div id="my-posts">
        <div class="new-post-button-container">
          <div class="new-post-button waves-effect waves-light red">
            <a class="white-text"><span class="new-post-button-font">Create New</span><i class="material-icons new-post-button-icon">add</i></a>
          </div>
        </div>

        <div class="post" id="js-my-post"></div>
      </div>
      <div class="side-pull-out full-height absolute-right white z-depth-2" id="edit-post"></div>
    </div>

    <div class="row">
      <div id="all-posts" class="col s12">
        <div class="post" id="js-all-posts"></div>
      </div>
      <div class="side-pull-out full-height absolute-right white z-depth-2" id="view-post"></div>
    </div>

  </div>
</main>
