{{>nav}}

<main class="dashboard-main">

  <!-- ======================== -->
  <!-- ===== Home Section ===== -->
  <!-- ======================== -->

  <div id="home">

    <!-- Settings Icon -->
    <div class="row user-settings-icon blue-text">
      <div class="col s12">
        <div>
          <a href="#settings" class="js-settings"><i class="material-icons right hovered">settings</i></a>
        </div>
      </div>
    </div>
    <!--  Settings -->
    <div class="side-pull-out full-height white-text z-depth-2 red lighten-1 absolute-right" id="settings">
      <a href="#settings" class="js-push-back"><img class="pull-out-back-icon" src="/assets/images/arrow-right.svg" /></a>
      <div class="row">
        <div class="col s12 settings-menu-options">
          <div class="center dont-break-on-overflow">
            <ul>
              <li><a href="#edit-info" class="js-settings">Edit Public Info</a></li>
              <li><a href="#" class="js-settings">Manage Associations/Boards</a></li>
              <li><a href="#leave-feedback" class="js-settings">Leave Feedback</a></li>
              <li><a href="#about-us" class="js-settings">About REAL Exchange</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!--  Settings Edit Info -->
    <div class="side-pull-out full-height blue darken-4 white-text absolute-right" id="edit-info">
      <a href="#edit-info" class="js-push-back"><img class="pull-out-back-icon" src="/assets/images/arrow-right.svg" /></a>
      <div class="row">
        <form class="col s12">
          <div class="settings-menu-options dont-break-on-overflow">
            <div class="row">
              <div class="input-field col s12 m8 offset-m2">
                <textarea id="settings-bio" class="materialize-textarea">{{user.bio}}</textarea>
                <label for="textarea1">Bio</label>
              </div>
              <div class="input-field col s12 m8 offset-m2">
                <input value="{{user.phoneNumber}}" id="settings-phone-number" type="tel" class="validate">
                <label for="telephone">Phone Number</label>
              </div>
              <div class="input-field col s12 m8 offset-m2">
                <input value="{{user.email}}" id="settings-email" type="email" class="validate">
                <label for="email">Email</label>
              </div>
              <div class="input-field col s12 m8 offset-m2">
                <input value="{{user.website}}" id="settings-website" type="text" class="validate">
                <label for="website">Website</label>
              </div>
            </div>
            <div class="col s12 center">
              <button class="btn waves-effect waves-light amber" type="submit" name="action">Submit
              <i class="material-icons right">send</i>
            </button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <!--  Settings Leave Feedback -->
    <div class="side-pull-out full-height blue darken-4 white-text absolute-right" id="leave-feedback">
      <a href="#leave-feedback" class="js-push-back"><img class="pull-out-back-icon" src="/assets/images/arrow-right.svg" /></a>
      <div class="row">
        <form class="col s12">
          <div class="settings-menu-options dont-break-on-overflow">
            <div class="row">
              <div class="input-field col s12 m8 offset-m2">
                <textarea id="settings-bio" class="materialize-textarea" placeholder="Tell us what you think!"></textarea>
                <label for="Feedback">We value your feedback</label>
              </div>
              <div class="col s12 m8 offset-m2">
                <button class="btn waves-effect waves-light amber" type="submit" name="action">Submit
                  <i class="material-icons right">send</i>
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <!--  Settings About Us -->
    <div class="side-pull-out full-height blue darken-4 white-text absolute-right" id="about-us">
      <a href="#about-us" class="js-push-back"><img class="pull-out-back-icon" src="/assets/images/arrow-right.svg" /></a>
      <div class="row">
        <div class="col s12">
          <div class="settings-menu-options dont-break-on-overflow">
            <div class="row">
              <div class="input-field col s12 m8 offset-m2">
                <h5 class="center">REAL Exchange</h5>
                <blockquote class="left-border-color-amber">The mission of REAL Exchange is to bring REALTORS&reg; closer together and to help them to grow their business and expand their network.</blockquote>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- User Page -->
    <div class="row" id="user-page">
      <div class="col s12 l6">
        <h4 class="center-align greeting">Hello, {{user.firstName}} {{user.lastName}}</h4>
        <div class="col s4 offset-s4 m2 offset-m5 l4 offset-l4">
          <img src="https://lorempixel.com/400/400/" class="circle responsive-img" />
        </div>
        <div class="col s12 center-align">
          <h6 class="flow-text hovered"><a>Change Picture</a></h6>
        </div>
      </div>

      <div class="col s12 l6 left-border">
        <div class="center-align user-info-displayed">
          <p class="flow-text">{{user.bio}}</p>
          <p class="flow-text">{{user.phoneNumber}}</p>
          <p class="flow-text">{{user.email}}</p>
          <p class="flow-text word-break">{{user.website}}</p>
        </div>
      </div>
    </div>
  </div>
  <!-- ============================ -->
  <!-- ===== Contacts Section ===== -->
  <!-- ============================ -->
  <div id="contacts" class="col s12">
    <div class="row">
      <div class="col s12">
        <ul class="tabs transparent">
          <li class="tab col s3"><a id="user-contacts-tab" href="#user-contacts">My Contacts</a></li>
          <li class="tab col s3" id="all-contacts-tab"><a href="#all-contacts">All Contacts</a></li>
        </ul>
      </div>
    </div>
    
    <div id="user-contacts" >
       <!-- Contacts in users contact list nwill load here -->
    </div>
    
    <div id="all-contacts">
      <!-- All contacts will load here -->
    </div>
    
    <!-- Side Pull Out View Contact -->
    <div class="side-pull-out full-height absolute-right white z-depth-2" id="view-contact"></div>
  </div>
  <!-- ========================= -->
  <!-- ===== Posts Section ===== -->
  <!-- ========================= -->
  <div id="posts">
    <div class="row">
      <div class="col s12">
        <ul class="tabs transparent">
          <li class="tab col s3"><a id="user-posts-tab" href="#user-posts">My Posts</a></li>
          <li class="tab col s3" id="js-get-all-posts"><a href="#all-posts">All Posts</a></li>
        </ul>
      </div>
    </div>
    <!--====== User Posts =======-->
    <div id="user-posts">
      <div class="new-post-button-container">
        <a href="#new-post" class="js-new-post white-text">
          <div class="new-post-button waves-effect waves-light red">
            <span class="new-post-button-font">Create New</span><i class="material-icons new-post-button-icon">add</i>
          </div>
        </a>
      </div>
      <div class="post" id="js-user-posts"></div>
    </div>
    
    <!--====== All Posts =======-->
    <div id="all-posts">
      <div class="post" id="js-all-posts"></div>
    </div>

    <!-- Side Pull Out Edit Post -->
    <div class="side-pull-out full-height absolute-right white z-depth-2" id="edit-post">
      <div class="loader-container hidden">
        <div class="loader">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
      
      <div class="js-blur"></div>
    </div>

    <!-- Side Pull Out New Post -->
    <div class="side-pull-out full-height absolute-right white z-depth-2" id="new-post">
      <div class="loader-container hidden">
        <div class="loader">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
      
      <div class="js-blur">
        <div class="row">
          <div class="col s12">
            <a href="#new-post" class="js-push-back"><img class="pull-out-back-icon" src="/assets/images/arrow-right-black.svg" /></a>
          </div>
        </div>
  
        <div class="row center">
          <h5>Images</h5>
          <div class="image-list"></div>
          <form action="#" class="col s12">
            <div class="file-field input-field">
              <div class="btn light-blue">
                <span>Find</span>
                <input id="upload-photo" name="uploads[]" type="file" multiple>
              </div>
              <div class="file-path-wrapper">
                <input class="file-path validate" type="text" placeholder="Upload one or more files">
              </div>
            </div>
          </form>
        </div>
  
        <div class="row center">
          <h5>Post</h5>
          <form class="col-s12 js-new-form" id="${post.data.post._id}">
            <div class="row">
              <div class="input-field col s12">
                <input id="new-subject" type="text" class="validate" required="" aria-required="true" data-error="Please fill out this field.">
                <label class="active" for="subject">Subject</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12 m6">
                <select id="new-category" class="validate" required aria-required="true"">
                  <option value="" disabled selected>Choose your category</option>
                  <option value="1">Wanted</option>
                  <option value="2">Available</option>
                  <option value="3">Announcement</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <textarea id="new-message" class="materialize-textarea validate" required="" aria-required="true"></textarea>
                <label for="icon_prefix2">Message</label>
              </div>
            </div>
            <div class="row">
              <div class="col s12 center">
                <button class=" btn waves-effect waves-light light-blue" type="submit" id="submit-post">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- Side Pull Out View Post -->
    <div class="side-pull-out full-height absolute-right white z-depth-2" id="view-post">
      <div class="loader-container hidden">
        <div class="loader">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
      <div class="js-blur"></div>
    </div>
  </div>
</main>
